<footer class="footer">
   <h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

   <nav>
      <ul>
         <li><%= link_to "About",
            '#' %></li>
         <li><%= link_to "Contact", '#' %></li>
         <li><a href="https://news.railstutorial.org/">News</a></li>
      </ul>
   </nav>
</footer>

